{% extends "base.html" %}
{% load snisi %}

{% block title %}Identification{% endblock %}

{% block content %}

{% if form.errors %}
<p class="alert alert-danger">Votre nom d'utilisateur et mot de passe ne correspondent pas. S'il vous plaît essayer de nouveau.</p>
{% endif %}

<p><strong>{{ brand }}</strong> est un outil du <strong>Ministère de la Santé du Mali</strong>. Son accès y est restreint. Si vous faites partie de la pyramide sanitaire, merci de nous <a href="{% url 'contact' %}">contacter</a> pour obtenir vos identifiants.</p>
<p>Si vous êtes un partenaire du ministère et que vous souhaitez accèder aux données, contactez votre point-focal pour faire une demande d'accès.</p>

<p class="alert alert-warning">En cas de perte de votre identifiant ou mot de passe, appellez la {{ hotline}} au <strong>{{ hotline_num|phone }}</strong>.</p>

<form class="pure-form" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Merci de vous identifier</legend>

        <input type="text" name="{{ form.username.name }}"
               placeholder="{{ form.username.label }}"
               autofocus="autofocus">
        <input type="password" name="{{ form.password.name }}"
               placeholder="{{ form.password.label }}">

        <button type="submit" class="pure-button pure-button-primary">S'identifier</button>
    </fieldset>
</form>
{% endblock %}

{% block extra_js %}
    styleFormElements();
{% endblock %}
