{% extends "base.html" %}
{% load snisi %}
{% block title %}{{ provider }}{% endblock %}

{% block content %}

<h2><i class="fa fa-{{ provider.gender }}"></i> {{ provider }}</h2>
{% if provider.position %}<h3>{{ provider.position }}</h3>{% endif %}

<ul>
    <li>{{ provider.username }}</li>
    {% for number in provider.phone_numbers.all %}
        <li>{{ number|phone}} ({{ number.category.name }})</li>
    {% endfor %}
    {% if provider.email %}<li><i class="fa fa-envelope"></i> <a href="mailto:{{ provider.email }}">{{ provider.email }}</a></li>{% endif %}
    {% if provider.location %}<li>{% include "parts/entity_link.html" with entity=provider.location %}</li>{% endif %}
    <li>Dernière connexion : {{ provider.last_login }}</li>
</ul>

<ol>
{% for event in provider.history %}
<li>{{ event.access }} du {{ event.from }} à {{ event.to|default_if_none:"maintenant" }}.</li>
{% endfor %}
</ol>
{% endblock %}
