{% extends "base.html" %}
{% load snisi %}
{% block title %}{{ provider }}{% endblock %}

{% block content %}

<h2><i class="icon-{{ provider.gender }}"></i> {{ provider }}</h2>
{% if provider.position %}<h3>{{ provider.position }}</h3>{% endif %}

<ul>
    <li>{{ provider.username }}</li>
    {% for number in provider.phone_numbers.all %}
        <li>{{ number|phone}} ({{ number.category.name }})</li>
    {% endfor %}
    {% if provider.email %}<li><i class="icon-mail-alt"></i> <a href="mailto:{{ provider.email }}">{{ provider.email }}</a></li>{% endif %}
    {% if provider.location %}<li>{% include "parts/entity_link.html" with entity=provider.location %}</li>{% endif %}
    <li>Dernière connexion : {{ provider.last_login }}</li>
    {% if provider.privileges.count %}
    <li>Privilèges</li>
    <ul>
    	{% for acc in provider.accreditations.all %}
    	<li>{{ acc }}</li>
    	{% endfor %}
    </ul>
    {% endif %}
</ul>

<ol>
{% for event in provider.history %}
<li>{{ event.access }} du {{ event.from }} à {{ event.to|default_if_none:"maintenant" }}.</li>
{% endfor %}
</ol>

<h3>Dernières actions</h3>
<ul>
	{% for action in provider.last_actions %}
	<li>{{ action.label|capfirst }} le {{ action.on }}</li>
	{% endfor %}
</ul>

{% endblock %}

{% block admin %}
Déplacement : {% pure_form form csrf_token=csrf_token submit_text="Déplacer" pure_class="inline" extra_class="pure-form-full-inline" %} | 
<a id="reset_button" href="{% url 'admin_reset_password' username=provider.username %}" class="pure-button pure-button-warning" data-must-confirm="true" data-confirm-text="Êtes vous sûr de vouloir réinitialiser le mot de passe de «{{ provider}}»">Réinitialiser mot de passe</a> | <a id="disable_button" href="{% if provider.is_active %}{% url 'admin_disable_provider' username=provider.username %}{% else %}{% url 'admin_enable_provider' username=provider.username %}{% endif %}" class="pure-button pure-button-danger {%if not user.is_admin and not provider.is_active %}pure-button-disabled{% endif %}" data-must-confirm="true" data-confirm-text="Êtes vous sûr de vouloir {% if provider.is_active %}dés{% endif %}activer le compte de «{{ provider}}»" {%if not user.is_admin and not provider.is_active %}disabled="disabled"{% endif %}>{% if provider.is_active %}Désactiver{% else %}Activer{% endif %}</a>

{% endblock %}

{% block onJQready %}
$('#id_location_name').hide();
$('label[for="location_name"]').hide();

{% include "admin_role_location.js" %}
$('#id_role').on('change', role_location_change);
$('#id_location').on('change', role_location_change);
registerEntitySlugAutoQuery('#id_location', '#id_location_name', function () {
$('#id_role').change();	
});

{% endblock %}
