{% extends "base.html" %}
{% load snisi_epidemiology %}

{% block content %}

{% if all_quiet %}
<p class="alert alert-success"><i class="icon-smile"></i> Aucun cas de MADO déclaré durant le mois de {{ current_period }}.</p>
{% else %}
<p class="alert alert-danger"><strong>ATTENTION</strong>, <strong>{{ nb_cases_this_month }}</strong> cas suspect{{nb_cases_this_month|pluralize}} {{nb_cases_this_month|pluralize:"à,ont"}} été rapporté{{nb_cases_this_month|pluralize}} au mois de <strong>{{ current_period }}</strong></p>

<table class="pure-table table-striped table-bordered all-left">
<tr><th>Semaine</th><th>Du</th><th>Au</th><th>Situation (cas suspects/décès suspects)</th></tr>
{% for week, week_data in weeks %}
<tr><td>{{ week.strid }}</td><td>{{ week.start_on }}</td><td>{{ week.end_on }}</td>
<td>
<table class="pure-table">
{% for field, field_data in week_data.items %}
{% if field_data.cases %}
<tr>
    <th>{{ field|epidemio_field_name }}</th>
    <td><span>{{ field_data.cases }}</span></td>
    <td><span>{{ field_data.deaths }}</span></td>
    <td>{% for r in field_data.reports %}{% include "parts/entity_link.html" with entity=r.entity %} {% endfor %}</td>
</tr>
{% endif %}
{% endfor %}
</table>
</td></tr>
{% endfor %}
</table>

{% endif %}

{% endblock %}
