{% load staticfiles %}{% load snisi %}<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ brand_short}} | {% block title %}{{ brand_full }}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{% static "css/snisi_all.min.css" %}?date=20141230" title="{{ brand_short }}" />
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
    <meta http-equiv="Content-Language" content="fr-fr" />
    <meta name="ROBOTS" content="ALL" />
    <meta name="Copyright" content="PNLP, ANTIM, YELEMAN" />
    <meta name="keywords" content="pnlp, mali, paludisme, antim, sms" />
    <meta name="description" content="{{ brand_full }} au Mali. Données SMS et Web." />
    <script type="text/javascript">
    hc_graphs = [];
    var alertFallback = false; if (typeof console === "undefined" || typeof console.log === "undefined") { console = {}; if (alertFallback) { console.log = function(msg) { alert(msg);}; } else { console.log = function() {}; } }
    </script>
</head>
<body class="pure-skin-snisi {% block page_slug %}{{ page_slug }}{% endblock %}">
    <div id="layout">

        <a href="#menu" id="menuLink" class="pure-menu-link">
            <span></span>
        </a>

        <div id="menu">
            <div class="pure-menu pure-menu-open">
                <!-- <a class="pure-menu-heading">SNISI</a> -->
                <ul>
                    <li class="home"><a href="{% url 'home' %}"><i class="icon-gauge"></i> Tableau de bord {{ brand_short }}</a></li>
                    <li><a href="{% url 'addressbook' %}"><i class="icon-users"></i> Annuaire</a></li>
                    <li><a href="{% url 'upload' %}"><i class="icon-upload"></i> Envoi rapport</a></li>
                    <li><a href="{% url 'validation' %}"><i class="icon-check"></i> Validation rapports</a></li>
                    <li><a href="{% url 'entities_list' %}"><i class="icon-h-sigh"></i> Carte sanitaire SNISI</a></li>
                </ul>
                
                {% if user|allowed_to:"monitor" %}
                <a class="pure-menu-heading">Monitoring & Gestion</a>
                <ul>
                    <li><a href="{% url 'periodic_source_monitoring' %}">Collecte données périodiques</a></li>
                    <li><a class="pure-button-disabled" href="#">Collecte données occasionnelles</a></li>
                    <li><a class="pure-button-disabled" href="#">Collecte (par localité)</a></li>
                    <li><a href="{% url 'admin_find_phonenumber' %}">Numéros de téléphone</a></li>
                    <li><a href="{% url 'admin_add_provider' %}">Création compte</a></li>
                </ul>
                {% endif %}
                
                {% if user|allowed_to_home:"access_malaria" %}
                <a class="pure-menu-heading">PALUDISME</a>
                <ul>
                    <li><a href="{% if user.is_authenticated %}{% url 'malaria_raw_data' %}{% endif %}">Données brutes</a></li>
                    <li><a href="{% url 'malaria_view' %}">Données analysées</a></li>
                    <li><a href="{% url 'malaria_epidemio' %}">Surveillance épi.</a></li>
                    <li><a href="{% url 'malaria_map' %}">Cartographie</a></li>
                    <li><a href="{% url 'malaria_quarter_report' %}">Rapports trimestriels</a></li>
                    <li><a href="{% url 'malaria_custom' %}">Analyse personnalisée</a></li>
                </ul>
                {% endif %}
                
                {% if user|allowed_to_home:"access_nutrition" %}
                <a class="pure-menu-heading" href="{% url 'nutrition_dashboard' %}">NUTRITION</a>
                <ul>
                    {% if user|allowed_to:"admin" %}<li><a href="{% url 'nutrition_small_indicators' %}">Données YLM</a></li>{% endif %}
                    <li><a href="{% url 'nutrition_weekly' %}">Surveillance hebdo.</a></li>
                    <li><a href="{% url 'nutrition_raw_data' %}">Données brutes</a></li>
                    {% if user.best_level_access <= 2 %}
                    <li><a href="{% url 'nutrition_overview_sam' %}">Rapports MAS</a></li>
                    <li><a href="{% url 'nutrition_overview_mam' %}">Rapports MAM</a></li>
                    <li><a href="{% url 'nutrition_synthesis_sam' %}">Synthèse NUT MAS</a></li>
                    <li><a href="{% url 'nutrition_synthesis_mam' %}">Synthèse NUT MAM</a></li>
                    {% endif %}
                    <li><a href="{% url 'nutrition_map' %}">Cartographie</a></li>
                </ul>
                {% endif %}
               
                {% if user|allowed_to_home:"access_trachoma" %}
                <a class="pure-menu-heading">CÉCITÉ</a>
                <ul>
                    <li><a href="{% url 'trachoma_missions' %}">Données brutes</a></li>
                    <li><a href="{% url 'trachoma_dashboard' %}">Données analysées</a></li>
                </ul>
                {% endif %}

                {% if user|allowed_to_home:"access_epidemiology" %}
                <a class="pure-menu-heading"><abbr title="Surveillance Intégrée des Maladies et de la Riposte">SMIR</abbr> <span class="label label-{{ mado_level }}">{{ mado_nb_cases }}</span></a>
                <ul>
                    <li><a href="{% url 'epidemio_dashboard' %}">Suivi temps-réel</a></li>
                    <li><a href="{% url 'epidemio_raw_data' %}">Données brutes</a></li>
                    <li><a href="{% url 'epidemio_indicators' %}">Données analysées</a></li>
                </ul>
                {% endif %}

                {% if user|allowed_to_home:"access_reprohealth" %}
                <a class="pure-menu-heading">SANTÉ REPRODUCTION</a>
                <ul>
                    <li><a href="{% url 'msipf_raw_data' %}">Données brutes MSI/PF</a></li>
                    <li><a class="pure-button-disabled" href="#">Données brutes FNUAP</a></li>
                    <li><a href="{% url 'msipf_dashboard' %}">Données analysées</a></li>
                </ul>
                {% endif %}

                {% if user|allowed_to_home:"access_vacc" %}
                <a class="pure-menu-heading">VACCINATION</a>
                <ul>
                    <li><a href="{% url 'vacc_map' %}">Cartographie</a></li>
                </ul>
                {% endif %}

                {% if user|allowed_to_home:"access_bednets" %}
                <a class="pure-menu-heading pure-button-disabled">MOUSTIQUAIRES</a>
                <ul>
                    <li><a class="pure-button-disabled" href="#">Données brutes</a></li>
                    <li><a class="pure-button-disabled" href="#">Données analysées</a></li>
                </ul>
                {% endif %}
            </div>
        </div>

        <div id="main">

            <header></header>

            <section class="content">
                {% if messages %}
                <div id="notifications">
                {% for message in messages %}
                    <p class="alert alert-{% if message.tags == 'error'%}danger{% else %}{{ message.tags }}{% endif %}">{{ message|linebreaksbr }}<i class="icon-cancel close-notif-button"></i></p>
                {% endfor %}
                </div>
                {% endif %}
                <div class="content-container">
                    {% block content %}
                    <h1>Tableau de bord général</h1>
                    <p>Utilisez le menu en haut à gauche pour naviguer</p>
                    {% endblock %}
                </div>
            </section>

            {% if user.is_tech and has_admin %}
			<section class="admin-only">
				<div class="alert alert-warning">ADMIN&nbsp;|&nbsp;{% block admin %}{% endblock %}</div>
			</section>
			{% endif %}

            <footer>
                <div class="pure-menu pure-menu-open pure-menu-horizontal footer-menu">
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" title="Accèder au profil" class="pure-menu-heading"><i class="icon-user-md"></i> {{ user }}</a>
                    {% endif %}
                    <ul>
                        <li><a href="{% url 'contact' %}"><i class="icon-mail-alt"></i> Contact</a></li>
                        <li><a href="{% url 'support' %}"><i class="icon-help"></i> Support</a></li>
                        <li><a href="{% url 'about' %}"><i class="icon-info-circled"></i> À propos</a></li>
                        <li><a href="{% url 'resources' %}"><i class="icon-download"></i> Ressources</a></li>
                        {% if user.is_authenticated %}<li><a href="{% url 'logout' %}"><i class="icon-logout"></i> Se déconnecter</a></li>{% endif %}
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="{% static "js/snisi.min.js" %}?date=20150206"></script>
{% block assets %}{% endblock %}
<script>
$(document).ready(function(){
main();
{% block onJQready %}{% endblock %}
});</script>
</html>
