{% load snisi %}
<div class="indicatorwrapper">
<h3 class="caption"><strong>{{ table.name }}.</strong> {{ table.caption }}</h3>
<table class="pure-table center report-table shrink-input">
<thead>
<tr>
	<th rowspan="2">DISTRICT</th>
	<th rowspan="2">RAPPORTS</th>
	{% for period in periods %}
	<th colspan="2">{{ period }}</th>
	{% endfor %}
	<th colspan="2">TOTAL</th>
</tr>
<tr>
	{% for period in periods %}
	<th>reçus</th>
	<th>compl</th>
	{% endfor %}
	<th>reçus</th>
	<th>compl</th>
</tr>
</thead>
<tbody>
{% for entity_slug, edata in entities_periods.items %}
<tr {% if forloop.last %}class="highlight-row"{% endif %}>
	<th rowspan="3">{{ edata.entity.name }}</th>
	<td class="left">URENI</td>
	{% for pdata in edata.periods.values %}
		{% if pdata.expected == None %}
		<td colspan="2" class="nodata"></td>
		{% else %}
			<td>{{ pdata.ureni_nb_arrived }} / {{ pdata.ureni_nb_expected }}</td>
			<td>{{ pdata.ureni_completion_rate|percent:0 }}</td>
		{% endif %}
	{% endfor %}
</tr>
<tr {% if forloop.last %}class="highlight-row"{% endif %}>
	<td class="left">URENAS</td>
	{% for pdata in edata.periods.values %}
		{% if pdata.expected == None %}
		<td colspan="2" class="nodata"></td>
		{% else %}
			<td>{{ pdata.urenas_nb_arrived }} / {{ pdata.urenas_nb_expected }}</td>
			<td>{{ pdata.urenas_completion_rate|percent:0 }}</td>
		{% endif %}
	{% endfor %}
</tr>
<tr {% if forloop.last %}class="highlight-row"{% endif %}>
	<td class="left">URENAM</td>
	{% for pdata in edata.periods.values %}
		{% if pdata.expected == None %}
		<td colspan="2" class="nodata"></td>
		{% else %}
			<td>{{ pdata.urenam_nb_arrived }} / {{ pdata.urenam_nb_expected }}</td>
			<td>{{ pdata.urenam_completion_rate|percent:0 }}</td>
		{% endif %}
	{% endfor %}
</tr>
{% endfor %}

</tbody>
</table>
</div>
