{% extends "base.html" %}
{% load snisi %}
{% load l10n %}

{% block assets %}{% include "assets/highcharts.html" %}{% endblock %}

{% block onJQready %}
entities_browser = getEntitiesBrowser({
    parentID: 'entity_periods_filter',
    baseURL: '/api/entities/getclusterchildren/nutrition_routine',
    root: "{{ root.slug }}",
    lineage: [{% for s in lineage %}"{{ s }}",{% endfor %}],
    lineage_data: [{% for d in lineage_data %}"{{ d}}",{% endfor %}],
    auto_launch: true,
    add_default_option: true,
    default_option: {value: '-1', label: "AUCUN"}
});
registerEntityPeriodsFilter({
    entity_browser: entities_browser,
    periodAID: 'filter_periodA',
    periodBID: 'filter_periodB',
    url_tmpl: "{% url 'nutrition_weekly' %}/<entity>/<period_str>"
});

var tmpl = {
    chart: {renderTo: null,},
    legend: {},
    title: {text: null},
    xAxis: {categories: [{% for week_data in weekly_data %} "{{ week_data.report.period }}", {% endfor %}], labels: { rotation: -90}, },
    yAxis: {title: {text: "Nombre de cas"}, min:0,},
    series: [],
    plotOptions: {column: {animation: false, dataLabels: { color: 'black', enabled: true,}}},
    exporting: {enabled: true,},
    credits: { enabled: true, text: "© DNS/DN – {{ periodb }}", href: null },
};
var mam = $.extend(true, {}, tmpl);
mam.chart.renderTo = 'graph-mam-cases';
mam.series = [
    {
        type: 'column',
        name: "Nombre de cas MAM",
        data: {% localize off %}
        [
        	{% for week_data in weekly_data %}
        	{
        		y: {% if week_data.report == None %}null{% else %}{{ week_data.report.urenam_cases|default_if_none:"null" }}{% endif %},
        		pstrid: "{{ week_data.report.period.casted.strid }}",
        		events: {
        			click: function (e) {
        				window.location = "{% url 'nutrition_weekly_data' entity_slug=entity.slug period_str='nW99-9999' %}".replace('nW99-9999', this.pstrid);
        			},
        		},
        	},
    		{% endfor %}
		]
		{% endlocalize %}
    },
];
hc_graphs.push(mam);

var sam = $.extend(true, {}, tmpl);
sam.chart.renderTo = 'graph-sam-cases';
sam.series = [
    {
        type: 'column',
        name: "Nombre de cas MAS (MAS et MAS+)",
        data: {% localize off %}
        [
        	{% for week_data in weekly_data %}
        		{% if week_data.report == None %}null{% else %}{{ week_data.report.sam_cases|default_if_none:"null" }}{% endif %},
    		{% endfor %}
		]
		{% endlocalize %}
    },
];
hc_graphs.push(sam);

var all = $.extend(true, {}, tmpl);
all.chart.renderTo = 'graph-all-cases';
all.series = [
    {
        type: 'column',
        name: "Nombre de cas MAM, MAS, MAS+",
        data: {% localize off %}
        [
        	{% for week_data in weekly_data %}
        		{% if week_data.report == None %}null{% else %}{{ week_data.report.total_cases|default_if_none:"null" }}{% endif %},
    		{% endfor %}
		]
		{% endlocalize %}
    },
];
hc_graphs.push(all);

var deaths = $.extend(true, {}, tmpl);
deaths.chart.renderTo = 'graph-deaths';
deaths.yAxis.title.text = "Nombre de décès";
deaths.series = [
    {
        type: 'column',
        name: "Nombre de décès",
        data: {% localize off %}
        [
        	{% for week_data in weekly_data %}
        		{% if week_data.report == None %}null{% else %}{{ week_data.report.total_deaths|default_if_none:"null" }}{% endif %},
    		{% endfor %}
		]
		{% endlocalize %}
    },
];
hc_graphs.push(deaths);


$.each(hc_graphs, function (idx) {
    new Highcharts.Chart(hc_graphs[idx]);
});
{% endblock %}

{% block content %}

<div id="entity_periods_filter" class="pure-form" method="POST">
    <legend>Suivi hebdomadaire de la malnutrition</legend>
    {% include "parts/entity_filter_select.html" with root=root lineage=lineage children=children %}

    {% include "parts/periods_filter.html" with selectID="filter_periodA" label="De" selected_period=perioda all_periods=all_periods %}

    {% include "parts/periods_filter.html" with selectID="filter_periodB" label="À" selected_period=periodb all_periods=all_periods %}

    <button type="submit" class="pure-button pure-button-primary">Afficher</button>
</div>

{% if not entity.casted in cluster.members %}
<div class="alert">
<p class="alert alert-warning">{% include "parts/entity_link.html" with entity=entity %} ne fait pas partie du cluster <strong>{{ cluster }}</strong>. Merci de séléctionner une unité sanitaire.</p>
</div>
{% else %}

<div class="alert">
<p class="alert alert-info"><strong>Rappel</strong> : les données hebdomadaire nutrition s'étendent du vendredi matin au jeudi soir. Ces données sont utilisées uniquement pour le suivi et sont donc différentes des rapport PEC mensuels.
<br />
Elles sont transmises au plus tard le {{ day_ext_end }} soir puis compilé le {{ day_agg_ds }} matin au niveau district et enfin compilés au niveau région/national le {{ day_agg_rs }} matin.</p>
</div>

<h3 class="caption"><strong>Suivi hebdomadaire MAM à </strong> {{ entity.display_full_typed_name }}</h3>
<div id="graph-mam-cases"></div>

<h3 class="caption"><strong>Suivi hebdomadaire MAS à </strong> {{ entity.display_full_typed_name }}</h3>
<div id="graph-sam-cases"></div>

<h3 class="caption"><strong>Suivi hebdomadaire Nutrition (MAM, MAS, MAS+) à </strong> {{ entity.display_full_typed_name }}</h3>
<div id="graph-all-cases"></div>

<h3 class="caption"><strong>Suivi décès malnutrition à </strong> {{ entity.display_full_typed_name }}</h3>
<div id="graph-deaths"></div>


<script type="text/javascript">
</script>

{% endif %}
{% endblock %}
