
.inline-data {
	font-weight: bold;
}

.pure-table.all-left th, .pure-table.all-left td {
	text-align: left;
}

.pure-table.all-center th, .pure-table.all-center td {
	text-align: center;
}

table.pure-table {
    border-collapse: collapse;

    color: @text-table;
    font-weight: normal;
}


.pure-table th {
    background: none repeat scroll 0 0 @green;
    color: @text-table-head;
    font-weight: normal;
    /*text-transform: uppercase;*/
    vertical-align: middle;
    text-align: center;
}


.pure-table tr {
    border-bottom: solid 1px @border-table-nodata;
}

.pure-skin-snisi .pure-table tr:nth-child(even) {
    background-color: @background-table-even;
}

.pure-skin-snisi .pure-table tr:nth-child(odd) {
    background-color: @background-table-odd;
}

.pure-skin-snisi .pure-table td {
	background-color: transparent;
}

.pure-table td a, .pure-table td a:visited, .pure-table td a:hover, .pure-table td a:link {
    color: @text-content;
}


.pure-table td.nodata {
    background-color: @background-dark !important;
}

tr.spacer, tr.spacer td {
    background-color: transparent !important;
}

.pure-table tr td.changed {
    background-color: orange;
}

.pure-table td.error {
    background-color: @red;
    /*.alert-variant(@alert-danger-bg; @alert-danger-border; @alert-danger-text);*/
}

.pure-table.report-table tr th:first-of-type {
    text-align: left;
}

table.pure-table {
    width: 100%;
}

@media (max-width: 600px) {
	.pure-skin-snisi .pure-table td, .pure-skin-snisi .pure-table th {
		padding: 0.1em;
	}
}

.pure-table.shrink-input * input {
	width: 4.5em;
	text-align: center;
}

tr.total-row {
	font-weight: bold;
}

.pure-table tr.indicator-em {
	border-bottom: .3em solid black !important;
	border-top: .3em solid black !important;
}

tr.indicator-em * {
    font-weight: bold;
    color: black;
}

.pure-table tr.highlight-row, .pure-table tr.highlight-row td {
	background-color: darken(@background-table-even, 50%);
	
	color: white;
}

.pure-table.report-table.first-col-left tr td:first-of-type {
    text-align: left;
}

.pure-table td.left {
	text-align: left;	
}

.pure-skin-snisi .pure-table td.indicator-good,
.pure-skin-snisi .pure-table td.indicator-warning, 
.pure-skin-snisi .pure-table td.indicator-bad {
	color: black;
}

.pure-skin-snisi  .pure-table td.indicator-good {
	background-color: green;
}

.pure-skin-snisi  .pure-table td.indicator-warning {
	background-color: orange;
}

.pure-skin-snisi  .pure-table td.indicator-bad {
	background-color: red;
}
