<div class="indicatorwrapper">
<h3 class="caption"><strong>{{ table.name }}.</strong> {{ table.caption }}</h3>
<table class="pure-table indicator-table data-centered">
<tr>
    <th {% if table.has_sub_labels %}rowspan="2"{% endif %}>{{ table.title }}</th>
    {% for label in table.main_labels %}<th {% if table.has_sub_labels %}colspan="2"{% endif %}>{{ label }}</th>{% endfor %}
</tr>
{% if table.has_sub_labels %}
<tr>
    {% for sub_label in table.sub_labels %}<th>{{ sub_label }}</th>{% endfor %}
</tr>
{% endif %}

{% if table.use_advanced_rendering %}
{% for row in table.render_with_labels_raw %}
<tr class="{% if forloop.counter0 in table.em_lines %}indicator-em{% endif %}">{% for col in row %}{% include "parts/indicator_table_cell.html" with column=col %}{% endfor %}</tr>
{% endfor %}
{% else %}
{% for row in table.render_with_labels_human %}
<tr class="{% if forloop.counter0 in table.em_lines %}indicator-em{% endif %}">{% for col in row %}{% if forloop.counter0 == 0 %}<th>{{ col }}</th>{% else %}<td>{{ col|default_if_none:"-" }}</td>{% endif %}{% endfor %}</tr>
{% endfor %}
{% endif %}

</table>
</div>
