{% load snisi %}
<td {%if field.errors %} class="report-field error {{ classes }}"{% endif %}
    {% if not field %} class="report-field nodata {{ classes }}"{% endif %}
    {% if not dataonly %}
    class="report-field {{ classes }}"
    data-container="body"
    data-original-value="{{ field.value }}"
    data-toggle="popover"
    data-content="{% if field.errors %}{% for error in field.errors %}{{ error }}{% endfor %}{% endif %}{{ field.value }}"
    {% endif %}>

{% if field %}{% if dataonly %}{{ field.value|reportvalue }}{% else %}&nbsp;{{ field }}{% endif %}{% endif %}
</td>
