{% load staticfiles %}
<script src="{% static "js/chart.js" %}?date=20140919"></script>
<script type="text/javascript">
Highcharts.setOptions({
    lang: {
        months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin',  'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
        weekdays: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
        decimalPoint: ",",
        downloadPNG: "Exporter en PNG",
        drillUpText: "Revenir à {series.name}.",
        loading: "Chargement…",
        printChart: "Imprimer",
        numericSymbols: [null, null, null, null, null, null],
        resetZoom: "Restaurer niveau de zoom.",
        resetZoomTitle: "Restaurer le niveau de zoom 1:1.",
        shortMonths: [ "Jan" , "Fév" , "Mar" , "Avr" , "Mai" , "Jui" , "Juil" , "Aôu" , "Sep" , "Oct" , "Nov" , "Déc"],
        thousandsSep: " ",
        contextButtonTitle: "Menu contextuel"
    },
    global: {
        useUTC: true
    }
});
</script>
